{% extends 'page.html' %}
{% block Content %}
<link rel="stylesheet" href="{{ request.url_for('static', path='css/page5.css') }}">
<style>
    li{
      margin-bottom:8px;
      line-height: 1 !important;
    }
  </style>
<div class="page3">
    <div class="section-title">❖ التزامات الطرف الاول:</div>
    <div class="c2 talzig">
        <ol>
            <li>يلتزم الطرف الأول بتسليم الوحدة السكنية محل هذا العقد كاملة التشطيب وطبقاً للأصول الفنية والمهنية وطبقاً للرسومات والمواصفات الفنية المقدمة من الطرف الأول إلى الجهات ذات العلاقة ومنها (هيئة استثمار بغداد, أمانة بغداد) مع مراعاه التعديلات اللاحقة على مخططات المجمع السكني.</li>
            <li>يلتزم الطرف الأول بتسليم الوحدة السكنية محل العقد صالحة للاستخدام على الوجه أكمل الوجه من خطوط الماء والصرف الصحي والكهرباء والحدائق العامة والشوارع والأرصفة) وذلك بعد اخذ الموفقات من الجهات المعنية بذلك.</li>
            <li>يلتزم الطرف الأول بتسليم الوحدة السكنية محل التعاقد خلال مدة أقصاها ({{ years }}) أو الفترة المتبقية للإنجاز من تأريخ توقيع هذا العقد والمحددة من قبل هيئة استثمار بغداد على أن تضاف المدد التي تقررها الهيئة لأسباب خارجة عن إرادة الطرف الأول إضافة إلى الظروف القاهرة والطارئة.</li>
            <li>في حال أخل أحد الأطراف ببنود العقد يفسخ العقد بعد تبليغ الطرف الآخر بطلب الفسخ وخلال مدة أقصاها شهر واحد.</li>
            <li>بعد استكمال مبلغ الدفعات المستحقة في ذمة الطرف الثاني يلتزم الطرف الأول بتسجيل الوحدة السكنية في دوائر التسجيل العقاري بأسم الطرف الثاني علماً أنَّ تحديد الأسهم لكل وحدة سكنية يكون وفق تعليمات وضوابط وقوانين مديرية التسجيل العقاري العراقي المرقم (43 لسنة 1971).</li>
            <li>القيام بتجهيز المصاعد وبصيانتها كل ما دعت الحاجة لذلك.</li>
            <li>يلتزم الطرف الأول بصيانة الوحدة السكنية لمدة ستة أشهر من تأريخ استلام الوحدة السكنية، وتلغى هذه الفقرة في حال استئجار الطرف الثاني لوحدته السكنية.</li>
            <li>يلتزم الطرف الأول بدفع غرامة مقدارها (10$) عن كل يوم تأخير من مدة استلام الوحدة السكنية.</li>
            <li>مسؤولية توزيع الطاقة الكهربائية تقع على عاتق الطرف الأول ولا يحق للطرف الثاني نصب مولدات خاصة.</li>
            <li>يحق للطرف الأول تطوير المشروع بزيادة عدد الطوابق وإجراء التعديلات الملائمة وفق ضوابط قانون الاستثمار بعد أخذ الموافقة من قبل الجهات المختصة بذلك.</li>
        </ol>
    </div>
</div>
{% endblock %}