{% extends 'page.html' %}
{% block Content %}
<link rel="stylesheet" href="{{ request.url_for('static', path='css/base.css') }}">
<link rel="stylesheet" href="{{ request.url_for('static', path='css/page3.css') }}">
<div class="page3">
    <style>
        img{
            object-fit: contain;
        }
        .img-container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 180mm;
            height: 180mm;
            overflow: hidden;
        }
        .img-container img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
        .page{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .title{
            font-size: 35px !important;
            font-weight: bold;
            text-align: center;
            padding:0;
            margin:10px
        }
    </style>
    <div class="page">
        <h1 class="title">ملحق رقم 01</h1>
        <h1 class="title">التصميم الكلي للمشروع</h1>
        <div class="img-container">
            <img src="{{ request.url_for('static', path='photos/design.jpeg') }}" alt="Photo Not Found">
        </div>
    </div>

    
</div>
{% endblock %}