.page2 {
    line-height: 1.4;
    color: #333;
    padding: 10px;
    font-size: 14px;
    direction: rtl;
    text-align: right;
}

.page2 .header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 14px;
    gap: 10px;
}

.page2 .bismillah {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    color: #2c3e50;
}

.page2 .section-title {
    font-weight: 900;
    font-size: 23px !important;
    color: #000000;
    padding-bottom: 5px !important;
    text-align: right;
}

.page2 .c1, .page2 .c2, .page2 .c3, .page2 .c4, .page2 .c5 {
    margin-bottom: 8px;
    text-align: justify;
    text-align-last: right;
    font-size: 14px;
}
.page2 .t2{
    background-color: rgb(247, 247, 247);
    margin:10px 0;
    padding: 10px;
    border: solid 1px rgb(0, 45, 108);
}

.page2 .tf2{
    margin: 10px 0;
    font-weight: 600;
}
.page2 .data-row {
    display: flex;
    width: 100%;
    margin: 8px 0;
    font-size: 11px;
    direction: rtl;
    background-color: rgb(230, 230, 230);
    padding: 4px;
}

.page2 .data-label {
    font-weight: bold;
    width: 30%;
    text-align: right;
    padding-left: 8px;
}

.page2 .data-value {
    width: 70%;
    text-align: right;
}

/* Responsive adjustments */
@media print {
    .page2 {
        padding: 0;
    }
    
    .page2 table {
        page-break-inside: avoid;
    }
}